<div class="container">
    <div class="row align-middle">
        <div class="col-md-6 box-container background-profile">
            <div class="d-flex align-items-center full-h">
                <img src="<%= profileImage %>" class="img-fluid fullwidth profile-image" alt="Responsive image">
            </div>
        </div>
        <div class="col-md-6 box-container">
            <div class="d-flex align-middle align-items-center full-h fullwidth">
                <div class="row text-right">
                    <div class="col-md-12">
                        <h2 class="colorW">My name is <b class="colorY">Juan Camilo</b></h2>
                    </div>
                    <div class="col-md-12">
                        <p class="colorW">I’m a Visual Communication Designer from Cali - Colombia living in London, I have a master's degree in multi-device web design and enphasis in branding and editorial design.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>