<div class="col-md-3 nopadd portfolio-container">
    <img src="assets/images/pg-1.png" class="img-fluid fullwidth" alt="Responsive image">
    <a href="#" class="label">
        <p class="colorW">
            Creation of all the DNA of a newborn brand.
        </p>
    </a>
</div>
<div class="col-md-3 nopadd portfolio-container">
    <img src="assets/images/pg-2.png" class="img-fluid fullwidth" alt="Responsive image">
    <a href="#" class="label">
        <p class="colorW">
            Creation of all the DNA of a newborn brand.
        </p>
    </a>
</div>
<div class="col-md-3 nopadd portfolio-container">
    <img src="assets/images/pg-3.png" class="img-fluid fullwidth" alt="Responsive image">
    <a href="#" class="label">
        <p class="colorW">
            Creation of all the DNA of a newborn brand.
        </p>
    </a>
</div>
<div class="col-md-3 nopadd portfolio-container">
    <img src="assets/images/pg-4.png" class="img-fluid fullwidth" alt="Responsive image">
    <a href="#" class="label">
        <p class="colorW">
            Creation of all the DNA of a newborn brand.
        </p>
    </a>
</div>