<%= partial("header.html") %>

<div class="row">
  <%= partial("banner.html") %>
</div>

<div class="row">
  <%= partial("about.html") %>
</div>

<div class="row">
  <div class="col-md-12 section-title text-center">
    <h2 class="colorW">
        <%= portFoliotitle %>
    </h2>
  </div>

  <%= partial("portfolio.html") %>

</div>

<div class="row">
  <div class="col-md-12 section-title text-center">
    <h2 class="colorW">
        <%= habilitiesTitle %>
    </h2>
  </div>

  <%= partial("jc-habilities.html") %>
</div>